<!-- public/preview.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Preview</title>
    <style>
      /* Assicura che il contenitore occupi tutto lo spazio fin da subito */
      html,
      body,
      #popup-root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <div id="popup-root"></div>
  </body>
</html>
